.line {
    width: 1000px; /* set the desired length of the line */
    height: 1px; /* set the height of the line */
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: top;
    font-family: 'Times New Roman', Times, serif;
  }

.header{
    background-color: rgb(73, 194, 224);
    color: rgb(0, 0, 0);
    text-align: center;
    margin: 30px auto;
    position: relative;
}

.image{
    display: flex;
    margin: 0 auto;
    
}

.description{
    background-color: bisque;
    padding: 10px;
    border: 3px solid black;
    margin: 20px;
}

a{
    padding: 2px;
    background-color: burlywood;
    color: brown;
}

a:hover{
    color: blue;
    text-decoration: underline;
}